<!-- templates/add_contact.html -->
{% extends 'dash/base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Add New Contact</h1>
<div class="card">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add Contact</button>
    </form>
</div>
{% endblock %}